body {
  background-image: url("../moon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
nav {
  text-align: center;
}
nav:hover {
  background-color: black;
  font-size: 25px;
}
h1 {
  color: white;
  text-align: center;
  font-size: 70px;
}
h3 {
  color: 	#C7C1FF;
  font-style: oblique;
  font-size: 40px;
}
.one {
  letter-spacing: -1.5px;
  font-size: 25px;
}
.onehalf {
  letter-spacing: -1.4px;
  font-size: 25px;
}
.two {
  letter-spacing: -1.4px;
  font-size: 25px;
}
.footer {
  font-size: 15px;
}
.footer:hover {
  background-color: black;
  font-size: 25px;
}
img {
  border-style: solid;
  border-color: #C7C1FF;
  border-width: 1px;
  border-radius: 50%;
  width: 300px;
}
