body {
  background-image: url("../wood.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  align-items: flex-start;
}

nav {
  text-align: center;
}

a {
  color: black;
  margin: 0.5em;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.5s;
  transition-property: all;
}

a:hover {
  color: white;
  font-size: 25px;
}

p {
  border: 0px solid;
  border-radius: 5px;
  padding: 1.2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 1em;
  width: 70%;
  background-color: rgba(255,255,255,0.7);
  transition: all 0.5s;
  transition-property: all;
}

p.one {
  color: black;
}

h1 {
  color: black;
  text-align: center;
  font-size: 70px;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-style: oblique;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
}

.footer {
  font-family: 'Montserrat', sans-serif;
  transition: all 0.5s;
  transition-property: all;
}

.footer:hover {
  font-size: 25px;
  transform: rotate(5deg);
}

p.footer {
  border: 0px solid;
  border-radius: 0px;
  background-color: transparent;
}

p:nth-child(2) {
  background: rgba(209, 209, 209, 0.7);
}

img {
  border-style: solid;
  border-color: #C7C1FF;
  border-width: 0px;
  border-radius: 50%;
  width: 100px;
  float: none;
  transition: all 1s;
  transition-property: all;
}

img:hover {
  width: 300px;
  height: 300px;
}
